
/* Arquivo para armazernar */
* {
  margin: 0;
  padding:0;
}

/* para garantir que estes elementos ocuparão toda a tela */
body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, Tahoma, sans-serif;
}
#fundo img {
  width: 98%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
  height: 100%;
  position: absolute;
}

h2 {
	margin: 0;
	font-size: 24; color: rgb(245,255,250); }
h1 {
	margin: 0;
	font-size: 24;
	color: black;
}

h6 {
	margin: 0;
	font-size: 6; color: black; }

ul.navbar {
	list-style-type:none;
	padding:0;
	margin:0;
	position: absolute;
	top:2em;
	left:1em;
	width:9em;	
}
ul.navbar li {
	background: #9FFA3E;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 1em solid #C1E849 
	
}

ul.navbar a{ text-decoration: none }

a:link { color: blue }

a:vosoted { color: purple}

address { margin-top: thin dotted}









































#site {
  position: absolute;
  top: 65px;
  left: 50%;
  width: 560px;
  padding: 10px;
  margin-left: -300px; /* por causa do posicionamento absoluto temos que usar margem negativa para centralizar o site */
  background: #FFF; /* fundo branco para navegadores que não suportam rgba */
  background: rgba(255,255,255,0.3); /* fundo branco com um pouco de transparência */
}

p {
  margin-bottom: 1.5em;
}

img { opacity : 0.8;
          }


.button {
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
   background-repeat: no-repeat;
}






